@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body{
    background-color: black;
    font-size: 1.2rem;
    line-height: normal;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: "PT Sans Narrow", sans-serif;
    overflow-x: hidden;
}

main.main_content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}
:root{
    --font_color :  #ff00ff;
    --letter_spacing : 2px;
    --link_hover : white;
    --drop_back : #ffffff4f;
}

header.heading_and_navlinks{
    background-color: black;
    color: white;
    position: relative;
    grid-area: header;
}

div.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.4rem;
    text-align: center;
    line-height: 0.8;
    text-shadow: var(--drop_back);
}

div.heading h1 span{
    color: var(--font_color);
    font-size: 2.2rem;
    text-align: center;
}

div.navlinks{
    flex-wrap: wrap;
}

div.navlinks ul.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}

div.navlinks ul.nav li{
    margin: 0.8rem;
}

div.navlinks ul.nav li a{
    font-size: 1.2rem;
    color: var(--font_color);
    text-decoration: none;
    letter-spacing: var(--letter_spacing);
    background-color: white;
    padding: 0.12rem 0.8rem;
    border: 2px solid var(--font_color);
    border-radius: 8px;
    transition: 0.4s ease;
}

div.navlinks ul.nav li a:hover{
    box-shadow: 0 8px 8px var(--font_color);
}

div.navlinks ul.nav li a:active{
    color: var(--link_hover);
}

section.main{
    grid-area: main;
    margin-top: 9.6rem;
}

div.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (max-width:768px){
        flex-direction: column;
    }
}

div.image img{
    border-radius: 50%;
    box-shadow: 32px 0 12px var(--font_color);
    border: 2px solid whitesmoke;
    margin-right: 2.4rem;
}

div.text_buttons{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
}

div.text_buttons h1{
    font-size: 2.6rem;
    color: white;
    margin-right: 1.2rem;
    margin-left: 1.2rem;
    flex-wrap: wrap;
}

div.text_buttons h1 span{
    color: var(--font_color);
    text-shadow: 0 0 0.096rem whitesmoke;
}

p.buttons button{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.2rem;
    background-color: white;
    color: var(--font_color);
    border: 2px solid var(--font_color);
    padding: 0.12rem 0.8rem;
    border-radius: 8px;
    margin: 0.4rem;
    box-shadow: inset 0 0 2px var(--font_color);
    animation-name: bounce;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%{
        transform: translateY(1.2rem);
    }
    25%{
        transform: translateY(-1.2rem);
    }
    50%{
        transform: translateY(1.2rem);
    }
    100%{
        transform: translateY(0);
    }
}

div.about_skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 88vw;
    margin: auto;

    @media screen and (max-width:768px) {
        flex-direction: column;
    }
}

div.about_me{
    border: 2px solid whitesmoke;
    padding: 1.2rem;
    border-radius: 16px;
    width: 40%;
    box-shadow: inset 0 0 8px var(--font_color);
    box-shadow:  12px 0 12px var(--font_color);

    @media screen and (max-width:768px) {
      width: 80vw;
    }
}

div.about_me h4{
    color: var(--font_color);
    position: absolute;
    transform: translateY(-3.8rem);
    background-color: white;
    padding: 0.12rem 0.8rem;
    border-radius: 16px;
    border: 2px solid var(--font_color);
}

div.about_me p span{
   color: #ff00ff;
}

div.about_me p a{
    text-decoration: underline;
    color: var(--font_color);
}

div.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    padding: 1.2rem;
    margin: 1.2rem;
}

div.skills div.skills_head h4{
    color: var(--font_color);
}

div.figures{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

div.figures i{
    margin: 0.8rem;
   /*  font-size: 2.8rem; */
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color:white;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: var(--font_color);
    padding: 0.4rem;
    border: 2px solid whitesmoke;
}

figure{
    background-color: white;
    border-radius: 16px;
    border: 2px solid white;
    margin: 0.2rem;
    box-shadow: 0 0 4px var(--font_color);
}

figure img{
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

figure figcaption{
    text-align: center;
    color: var(--font_color);
}

figure figcaption span{
    color: black;
}
 */
div.services{
    display: flex;
    flex-direction: column;
    margin: 1.6rem;
    width: 90vw;
    flex-wrap: wrap;
}

div.heading_serv h3{
    color: var(--font_color);
    margin-left: 1.6rem;
}

div.cards{
    display: flex;
    flex-direction: row;
    width: 90vw;
    flex-wrap: wrap;
}

div.card_1{
    border: none;
    box-shadow: inset 0 0 8px var(--font_color);
    padding: 1.2rem;
    width: 20rem;
    border-radius: 16px;
    margin: 0.8rem;
}

div.card_1 h4{
    color: var(--font_color);
}

div.card_2{
    border: none;
    box-shadow: inset 0 0 8px var(--font_color);
    padding: 1.2rem;
    width: 20rem;
    border-radius: 16px;
    margin: 0.8rem;
}

div.card_2 h4{
    color: var(--font_color);
}

div.card_3{
    border: none;
    box-shadow: inset 0 0 8px var(--font_color);
    padding: 1.2rem;
    width: 20rem;
    border-radius: 16px;
    margin: 0.8rem;
}

div.card_3 h4{
    color: var(--font_color);
}

div.card_4{
    border: none;
    box-shadow: inset 0 0 8px var(--font_color);
    padding: 1.2rem;
    width: 20rem;
    border-radius: 16px;
    margin: 0.8rem;
}

div.card_4 h4{
    color: var(--font_color);
}

div.contact{
    display: flex;
    flex-direction: column;
}

div.cont_heading {
    text-align: left;
    color: var(--font_color);
    margin-left: 1.6rem;
    margin-top: 1.6rem;
}

div.main_contact{
    display: flex;
    flex-direction: row;
    margin-left: 1.6rem;

    @media screen and (max-width:768px){
        flex-direction: column;
    }
}

div.main_contact form{
    padding: 1.6rem;
    border: 2px solid white;
    border-radius: 16px;
    box-shadow: inset 0 0 16px var(--font_color);
    width: fit-content;
}

div.email{
    position: relative;
}

div.email input{
    width: 16rem;
    padding: 0.4rem;
    border: 2px solid var(--font_color);
    outline: none;
    border-radius: 8px;
    background: transparent;
    font-size: 1.2rem;
    font-family:"PT Sans Narrow", sans-serif ;
    color: white;
}

div.email input:focus{
    box-shadow: 0 0 4px var(--font_color);
}
 
div.email label{
    position: absolute;
    left: 0.4rem;
    top: 0.4rem;
    transition: 0.4s ease;
}

div.email input:focus~label{
    top: -0.8rem;
    font-size: 0.88rem;
    background-color: white;
    padding:0.12rem 0.64rem;
    border-radius: 8px;
    color: var(--font_color);
    box-shadow: inset 0 0 8px var(--font_color);
}

div.text{
    position: relative;
}

div.text textarea{
    width: 16rem;
    padding: 0.4rem;
    border: 2px solid var(--font_color);
    outline: none;
    border-radius: 8px;
    background: transparent;
    font-size: 1.2rem;
    font-family:"PT Sans Narrow", sans-serif ;
    color: white;
    margin-top: 1.6rem;
    height: 6.4rem;
}

div.text textarea:focus{
    box-shadow: 0 0 4px var(--font_color);
}

div.text label{
    position: absolute;
    left: 0.4rem;
    top: 2rem;
    transition: 0.4s ease;
}

div.text textarea:focus~label{
    top: 0.96rem;
    font-size: 0.88rem;
    background-color: white;
    padding:0.12rem 0.64rem;
    border-radius: 8px;
    color: var(--font_color);
    box-shadow: inset 0 0 8px var(--font_color);
}

div.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
}

div.btn button{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.2rem;
    outline: none;
    background-color: var(--font_color);
    border: 2px solid black;
    border-radius: 16px;
    padding: 0.2rem 0.64rem;
    cursor: pointer;
    color: white;
    box-shadow: inset 0 0 4px black;
    transition: 0.4s ease;
}

div.btn button:hover{
    color: black;
}

div.social_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.6rem;

    @media screen and (max-width:768px) {
        justify-content: flex-start;
    }
}

div.social_icons a{
    width: 1.6rem;
    height: 1.6rem;
    padding: 0.4rem;
    margin: 0.64rem;
    background-color: var(--font_color);
    border-radius: 50%;
    border: 2px solid whitesmoke;
    color: white;
    text-align: center;
}

div.email_call{
    display: flex;
    flex-direction: column;
    border: 2px solid whitesmoke;
    padding: 1.6rem;
    border-radius: 16px;
    box-shadow: inset 0 0 16px var(--font_color);
    width: fit-content;
}

p.call a{
    width: 1.6rem;
    height: 1.6rem;
    padding: 0.4rem;
    background-color: var(--font_color);
    text-align: center;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    margin-right: 1.2rem;
    color: white;
}

p.call span{
    color: var(--font_color);
}

p.email a{
   width: 1.6rem;
   height: 1.6rem;
   padding: 0.4rem;
   border: 2px solid whitesmoke;
   background-color: var(--font_color);
   border-radius: 8px;
   margin-right: 1.2rem;
   color: white;
}

p.email span{
    color: var(--font_color);
}




