@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body{
    background-color: black;
    font-size: 1.2rem;
    line-height: normal;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: "PT Sans Narrow", sans-serif;
    width: 98vw;
    margin: 2rem;
    padding: 2rem;
}

main.main_content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}
:root{
    --font_color :  #ff00ff;
    --letter_spacing : 2px;
    --link_hover : white;
    --drop_back : #ffffff4f;
}

header.heading_and_navlinks{
    background-color: black;
    color: white;
    position: relative;
    grid-area: header;
}

div.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 2.4rem;
    text-align: center;
}

div.heading h1 span{
    color: var(--font_color);
    font-size: 2.2rem;
    text-align: center;
}

div.navlinks{
    position: absolute;
    right: 1.6rem;
}

div.navlinks ul.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
}

div.navlinks ul.nav li{
    margin: 0.8rem;
}

div.navlinks ul.nav li a{
    font-size: 1.2rem;
    color: var(--font_color);
    text-decoration: none;
    letter-spacing: var(--letter_spacing);
    background-color: white;
    padding: 0.12rem 0.8rem;
    border: 2px solid var(--font_color);
    border-radius: 8px;
    transition: 0.4s ease;
}

div.navlinks ul.nav li a:hover{
    box-shadow: 0 8px 8px var(--drop_back);
}

div.navlinks ul.nav li a:active{
    color: var(--link_hover);
}

div.dropdown{
    position: absolute;
    right:28rem;
    top: 2.4rem;
    width: fit-content;
    padding: 1.2rem;
    display: none;
}

div.dropdown ul{
    list-style: none;
    width: fit-content;
}

div.dropdown ul li{
    margin: 0.4rem;
}

div.dropdown ul li a{
    color:var(--font_color);
    text-decoration: none;
    text-shadow: 0 0 0.4px white;
    transition: 0.2s ease;
    padding: 0.12rem 0.8rem;
}

div.dropdown ul li a:hover{
    background-color: white;
    border: 2px solid var(--font_color);
    border-radius: 8px;
}

i{
    transition: 0.4s ease;
}

section.main{
    grid-area: main;
    position: relative;
    top: 20rem;
}

div.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.hero div.image img{
    border: 2px solid whitesmoke;
    border-radius: 50%;
    box-shadow: 0 0 12px var(--font_color);
    box-shadow: 32px 0 12px var(--font_color);
}

div.text_buttons{
    margin-left: 7.2rem;
}

div.text_buttons h1{
    font-size: 2.6rem;
    color: white;
}

div.text_buttons h1 span{
    color: var(--font_color);
    text-shadow: 0 0 0.096rem whitesmoke;
}

p.buttons button{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.2rem;
    background-color: white;
    color: var(--font_color);
    border: 2px solid var(--font_color);
    padding: 0.12rem 0.8rem;
    border-radius: 8px;
    margin: 0.4rem;
    box-shadow: inset 0 0 2px var(--font_color);
}


